@include mq(phone-xxl, max) {

  #form-jumbotron.fj {

    .fj {
  
      &-box__content-input {
  
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4) {
  
          > label {
            width: 40% !important;
          }
  
          > select {
            width: 60% !important;
          }
  
        }
  
        &:nth-child(3) {
  
          > select {
            width: 30% !important;
          }
  
        }
  
      }
  
    }
  
  }

}